.container {
  width: 90%;
  margin: 7rem auto;
}

.search-card {
  border-radius: 0;
  margin-bottom: 30px;
  padding: 20px 0 0 20px;

  .exam-info {
    margin-bottom: 15px;

    h3 {
      color: #3596B5;
    }

    .info-design {
      display: grid;
      grid-template-columns: 0.4fr 0.4fr;

      p {
        display: flex;
        align-items: center;
        color: #85899c;
        font-weight: 500;

        .icon {
          margin-right: 10px;
          color: #3596B5;
        }

        span {
          content: "\2192";
          margin-left: 20%;
        }
      }
    }
  }

  .search-blk {
    .search-input {
      width: 25%;
      margin-right: 30px;

      .cmn-font,
      .input-text {
        font-size: 14px;
      }
    }

    .btn {
      margin-right: 20px;
      font-size: 14px;
    }

    .btn-search {
      background-color: #3596B5;
      color: #fff;
    }

    .btn-search[disabled] {
      color: rgba(0, 0, 0, 0.38);
      background-color: #e0e0e0;
    }
  }
}

.table {
  table {
    width: 100%;
  }

  .mat-mdc-cell {
    width: 100px;
    max-width: 200px;
    overflow-wrap: break-word;
  }

  .success {
    .text {
      width: 100px;
      display: inline-block;
      padding: 7px 0;
      border-radius: 5px;
      background-color: #28a745;
      text-align: center;
      color: #fff;
    }
  }

  .failed {
    .text {
      color: #fff;
      width: 100px;
      display: inline-block;
      padding: 7px 0;
      border-radius: 5px;
      background-color: #dc3545;
      text-align: center;
    }
  }

  .mat-cell {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
  }
}

.table,
.mat-table-bottom-bar {
  width: 100%;
  margin: 0 auto;
}

.no-exam-info {
  padding: 20px;
  text-align: center;
  width: 50%;
  margin: 19rem auto;
  font-size: 20px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: hsl(220, 71%, 15%...);
  color: hsl(220, 75%, 25%);
  fill: hsl(220, 82%, 98%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (min-width: 768px) and (max-width:1024px) {
  .search-card {
    margin-bottom: 1.953vw;
    padding: 1.953vw 0 0 1.953vw;

    .exam-info {
      margin-bottom: 2.93vw;

      .info-design {
        grid-template-columns: 1fr 1fr;

        p {
          font-size: 1.47vw;

          .icon {
            margin-right: 0.977vw;
          }

          span {
            margin-left: 30%;
          }
        }
      }
    }

    .search-blk {
      margin-bottom: 1.953vw;

      .search-input {
        width: 30%;
        margin-right: 2.93vw;

        .cmn-font,
        .input-text {
          font-size: 12px;
        }
      }

      .btn {
        margin-right: 1.953vw;
        font-size: 1.523vw;
      }
    }
  }

  .table {
    max-width: 117.031vw;
    overflow-x: scroll;

    .mat-mdc-cell {
      width: 50vw;
      max-width: 100vw;
      overflow-wrap: break-word;
    }

    .success {
      .text {
        width: 8.766vw;
        padding: 0.684vw 0;
        border-radius: 0.488vw;
      }
    }

    .failed {
      .text {
        width: 8.766vw;
        padding: 0.684vw 0;
        border-radius: 0.488vw;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width:767.9px) {

  .search-card {
    margin-bottom: 3.125vw;
    padding: 3.125vw 0 0 3.125vw;

    .exam-info {
      margin-bottom: 4.688vw;

      .info-design {
        grid-template-columns: 0.8fr 0.6fr;

        p {
          font-size: 2.031vw;

          .icon {
            margin-right: 1.563vw;
          }

          span {
            margin-left: 7.813vw;
          }
        }
      }
    }

    .search-blk {
      margin-bottom: 3.125vw;

      .search-input {
        width: 42%;
        margin-right: 4.688vw;

        .cmn-font,
        .input-text {
          font-size: 12px;
        }
      }

      .btn {
        margin-right: 3.125vw;
        font-size: 12px;
      }
    }
  }

  .table {
    max-width: 107.031vw;
    overflow-x: scroll;

    .cmn-text-width {
      max-width: 35.468vw;
    }

    .success {
      .text {
        width: 16.038vw;
        padding: 1.013vw 0;
        border-radius: 0.652vw;
      }
    }

    .failed {
      .text {
        width: 16.038vw;
        padding: 1.013vw 0;
        border-radius: 0.652vw;
      }
    }
  }

  .no-exam-info {
    font-size: 16px;
  }
}